<!-- Slider main container -->
<div
	class="swiper-image">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		{% for image in article.images %}
			<div class="swiper-slide">
				<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ article.titre }}">
			</div>
		{% endfor %}
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
	<div class="header">
		<h1>{{ article.titre }}</h1>
	</div>
</div>
