{% extends "layout.html.twig" %}

{% block title %}
	Admin catégorie
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="card p-3 w-50 mx-auto">
			<h1 class="text-center">Créer une catégorie</h1>

			{% include 'Backend/Categorie/_form.html.twig' with {button_label: "Créer"} %}
		</div>

		<a href="{{ path('app_categorie_index') }}" class="btn btn-dark text-light">Retour</a>
	</section>
{% endblock %}
